html {
	background: -webkit-gradient(radial, 50% 0%, 200, 50% 0%, 400, from(#A9A9A9), to(#7D7F80)) no-repeat #7D7F80;
	min-height: 100%;
	display: block;
	margin: 0;
	padding: 0;
}

.volume {
	margin: 10px auto;
	width: 250px;
	height: 250px;
	-webkit-border-radius: 280px;
	-webkit-box-shadow: 5px 9px 30px rgba(0, 0, 0, .5) inset;
	position: relative;
	padding: 15px;
	z-index: 2;	
}

#volume-knob {
	width: 250px;
	height: 250px;	
	-webkit-border-radius: 125px;
	display:block;
	/*background: -webkit-gradient(linear, 10% top, 90% top, from(#DDD), color-stop(.5, #888), to(#DDD));*/
	-webkit-box-shadow: 4px 0 0 rgba(255, 255, 255, 1) inset, -3px 0 0 rgba(0, 0, 0, .5) inset, 0 0 5px rgba(255, 255, 255, .9), 3px 5px 8px rgba(255, 255, 255, .5) inset, 0 0 10px #009ddc, 0 0 50px rgba(0, 157, 220, .6);
	z-index: 3;
	position: absolute;
	top: 15px;
	left: 15px;
	-webkit-transform: rotate(30deg);
}

#progress-bar {
	clip: rect(0px, 140px, 280px, 0px);
	display: block;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	-webkit-transform: rotate(30deg);	
}

#l-bar,
#r-bar {
	/*box-shadow: 5px 5px 30px rgba(228, 136, 0, .7);*/
	-webkit-border-radius: 280px;
	border-radius: 280px;
	background: #FF9900;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 280px;
	height: 280px;
	z-index: 1;
}

#r-bar {
	display: none;
	-webkit-transform: rotate(0deg);
	clip: rect(0px, 280px, 280px, 140px);
}

#l-bar {
	-webkit-transform: rotate(180deg);
	clip: rect(0px, 140px, 280px, 0px);	
}

#l-bar:before {
	position: absolute;
	top: -100px;
	left:-100px;
	width: 100%;
	height: 100%;
	background-image: -webkit-gradient(radial, 50% 50%, 10, 50% 50%, 350, from(red), to(transparent));	
}

#pin {
	position: absolute;
	top: -16px;
	left: 50%;
	height: 280px;
	width: 10px;
	margin-left: -6px;
	-webkit-transform: rotate(30deg);	
}

#pin:after {
	-webkit-border-radius: 10px;
	background: #3299BB;
	content: ' ';
	-webkit-box-shadow: -1px 0 0 rgba(255, 255, 255, 1) inset, 1px 0 0 rgba(0, 0, 0, .5) inset, 0 0 2px rgba(255, 255, 255, .9);
	-webkit-transform: rotate(45deg);
	width: 10px;
	height: 10px;
	position: absolute;
	bottom: 30px;	
}

/* Metal Styling */
.metal {
	background-image:	/* light conical gradients */
						-webkit-radial-gradient(  50%   0%,  9% 50%, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%), /* north-east */
						-webkit-radial-gradient(  50% 100%, 11% 50%, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0) 100%), /* south-west */
						-webkit-radial-gradient(   0%  50%, 50%  9%,rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 100%), /* notrh-west */
						-webkit-radial-gradient( 100%  50%, 50%  11%, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%), /* south-east */						
						/* metal radial scratches */
						-webkit-repeating-radial-gradient(	50% 50%, 100% 100%, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 3%, rgba(0, 0, 0, .1) 2.5%),
						-webkit-repeating-radial-gradient(	50% 50%, 100% 100%, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0)   6%, rgba(255, 255, 255, .1) 7.3%),
						-webkit-repeating-radial-gradient(	50% 50%, 100% 100%, rgba(255, 255, 255, 0	) 0%, rgba(255, 255, 255, 0) 1.2%, rgba(255, 255, 255, .2) 2.1%),
						/* make the whole knob more light */
						-webkit-radial-gradient(50% 50%, 150% 50%, rgba(230, 230, 230, 1) 6%, rgba(217, 217, 217, 1) 32%, rgba(153, 153, 153, 1) 100%);
}


.metal:before, .metal:after {
	content: "";
	top: 0;
	left: 0;
	position: absolute;
	width: 250px;
	height: 250px;
	border-radius: 250px;
	/* dark conical gradients */	
	background-image: 	-webkit-radial-gradient(  50%   0%, 10% 50%, rgba(0, 0, 0, .1) 0%, rgba(0, 0, 0, 0) 100%),
						-webkit-radial-gradient(  50% 100%, 10% 50%, rgba(0, 0, 0, .1) 0%, rgba(0, 0, 0, 0) 100%),
						-webkit-radial-gradient(   0%  50%, 50% 10%, rgba(0, 0, 0, .1) 0%, rgba(0, 0, 0, 0) 100%),
						-webkit-radial-gradient( 100%  50%, 50% 06%, rgba(0, 0, 0, .1) 0%, rgba(0, 0, 0, 0) 100%);
}
.metal:before { 	-webkit-transform: rotate( 65deg); }
.metal:after {	-webkit-transform: rotate(-65deg); }

/* Min/Max */

.min {
	text-shadow: 1px 1px 1px #F7F7F7, -1px -1px #7D7F80;
	font: 1em/1.3 Gill Sans, sans-serif;
	font-weight: bold;
	color: #434444;
	position: absolute;
	top: 270px;
	left: 30px;
}

.max {
	text-shadow: 1px 1px 1px #F7F7F7, -1px -1px #7D7F80;
	font: 1em/1.3 Gill Sans, sans-serif;
	font-weight: bold;
	color: #434444;
	position: absolute;
	top: 270px;
	left: 210px;
}